<div class="maincontent">
  <article class="article">
    <h1 class="article-title">Who are we?</h1>
      <p>Philadelphia, Pennsylvania’s largest city, is notable for its rich history, on display at the Liberty Bell, Independence Hall (where the Declaration of Independence and Constitution were signed) and other American Revolutionary sites. Also iconic are the steps of the Philadelphia Museum of Art, immortalized by Sylvester Stallone’s triumphant run in the film "Rocky."</p>
      <p>The Philadelphia area's many universities and colleges make it a top study destination, as the city has evolved into an educational and economic hub.According to the Bureau of Economic Analysis, the Philadelphia area had a gross domestic product of US$431 billion in 2016, the eighth-largest metropolitan economy in the United States.Philadelphia is the center of economic activity in Pennsylvania and is home to five Fortune 1000 companies.</p>
  </article><!-- article -->

  <article class="article">
    <h1 class="article-title">Connect With Us!</h1>
    <p>If you want to check out events in Philly,
       <a href="http://www.phila.gov/">visit our website</a>, <a href="https://twitter.com/PhiladelphiaGov?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">follow us on twitter</a>. </p>
  </article><!-- article -->

  <article class="article">
    <h1 class="article-title">Who should come to Philly?</h1>
    <ul>
      <li>Anybody interested in sports, art, and history</li>
      <li>Photographers, sports fans, athletes, artists, musicians</li>
      <li>Those interested in living in the city of brotherly love</li>
    </ul>
  </article><!-- article -->
</div>
